.online {
    display: block;
}

.week {
    position: relative;
    font-size: 20px;
    padding : 10px;
    text-align: center;

    &:hover{
        background-color: #e6e4c0;
        cursor: pointer;
    }

    img {
        position: absolute;
        width: 20px;
        top: 5px;
        right: 5px; 
    } 
    

    div:first-child {
        font-style: italic;
    }

    div:nth-child(2) {
        font-weight: bold;
    }
}

.month {
    font-size: 30px;
    font-style: italic;
    padding : 5px 20px;
    text-align: center;
}

.onFocus {
    background-color: #e6e4c0;
}

.moneyOut {
    color: #ff7377;
}
