.loader {
    position:absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    top:50%;
    left: 50%;
  }
.loaderContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 235, 215, 0.662);
  z-index: 10;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.container {
  margin-top: 20px;
}

.loader {
  display: flex;
  margin: auto;
}

.log {
  font-size: 20px;
  text-align: center;
}