.bdbottom {
    border-bottom: 1px solid #000;
}

.focus {
    background-color: #e6e4c0;
}



.in:hover {
        cursor: pointer;
        background-color: #e6e4c0;
}

.out:hover {
    cursor: pointer;
    background-color: #e6e4c0;
}




.tem {
    position: relative;
    padding: 20px;
    width: 180px;
    text-align: center;
    align-items: center;
    


    div:first-child {
        font-size: 26px;
    }

    div:nth-child(2) {
        font-size: 35px;
        font-weight: bold;
    }

    div:last-child {
        font-size: 28px;
    }

    img {
        position: absolute;
        top: 0px;
        right: 0px;
        
    }

    .chi {
        width: 50px;
    }
    .thu {
        width: 55px;
    }
}

.moneyIn {
    color: lightgreen;
}

.moneyOut {
    color: #ff7377;
}


@media only screen and (max-width:800px){
    .tem {
        width: 170px;
       padding:15px;
    }
    .dayLeft {
        display: flex;
        align-items: center;
    }
}

table, th, td, tr {
    border: 1px solid;
    border-collapse: collapse;
    
}