

.focus {
    background-color: #e6e4c0;
}


.in:hover {
        cursor: pointer;
        background-color: #e6e4c0;
}

.out:hover {
    cursor: pointer;
    background-color: #e6e4c0;
}



.tem {
    min-width: 150px;
    flex:1;
    border: 1px solid #000;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 20px 10px ;
    text-align: center;
    align-items: center;
    
    div:first-child {
        font-size: 26px;
    }

    div:nth-child(2) {
        font-size: 35px;
        font-weight: bold;
    }

    div:last-child {
        font-size: 26px;
    }

    img {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .chi {
        width: 50px;
    }
    .thu {
        width: 55px;
    }
}

.moneyIn {
    color: lightgreen;
}

.moneyOut {
    color: #ff7377;
}



@media only screen and (max-width: 800px) {
    .tem {
        padding:15px 10px;
     }
     .dayLeft {
         display: flex;
         justify-content: center;
         align-items: center;
     }

    .tem {
      
        div:first-child {
            font-size: 18px;
        }
    
        div:nth-child(2) {
            font-size: 25px;
            font-weight: bold;
        }
    
        div:last-child {
            font-size: 18px;
        }
        .chi {
            width: 30px;
        }
        .thu {
            width: 35px;
        }
    }
}

@media (max-width:950px) and (min-width:700px) {
    .container {
        display: flex;
    }
}