.container {
    padding: 10px;
}

.date {
    font-style: italic;
}

.header {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.sortButton {
    display: flex;
    align-items: center;

    button {
        font-size: 18px;
        margin-left: 5px;
    }
}

.fwb {
    font-weight: bold;
}

.gridContainer {
    padding-right: 10px;
    height: 340px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 100px 100px auto 20px;
    align-content: start;


    .gridItems {
        text-align: center;
    }

    button {
        color: red;
    }

    button:hover {
        cursor: pointer;
    }

}


.moneyIn {
    color: lightgreen;
}

.moneyOut {
    color: #ff7377;
}

@media only screen and (max-width:800px){
   
    .header {
        font-size: 15px;
    }
    .gridContainer {
        font-size: 18px;
    }
    .sortButton {
        button {
            font-size: 15px;
           
        }
    }
}

