.row1 {
    font-size: 20px;
    select {
        font-size: 20px;
        margin-left: 5px;
    }
}

.grid_container {
    
    border: 1px solid #000;
    
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    
    .grid_items {
        position: relative;
        font-size: 20px;
        text-align: center;
        border: 1px solid #000;
        padding: 10px;

        .online {
            position: absolute;
            width: 20px;
            right: 2px;
        }
        &:hover {
            background-color: beige;
            cursor: pointer;
        }
    }
    .thang {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.onFocus {
    background-color: beige;
}

.moneyIn {
    color: lightgreen;
}

.moneyOut {
    color: #ff7377;
}

.row3 {
    position: relative;
    width: fit-content;
}

.container {
    position: relative;
    width: fit-content;
}

.main {
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
        width: 20px;
    }
    .left_part {
        text-align: center;
    }
    
    .right_part {
        display: flex;
        justify-content: center;
        align-items: center;
       flex-direction: column;

       div {
        font-weight: bold;
       }
    }
}


@media only screen and (max-width:800px)
{
    .grid_container {
        border: none;
        padding:10px;
        width: 100%;
        grid-template-columns: 180px 180px 180px;
    }
}
@media only screen and (max-width:600px)
{
    .grid_container {
        grid-template-columns: 160px 160px 160px;
        .grid_items {
            font-size: 18px;
        }
    }
    .main {
        font-size:  20px
    }
}

@media only screen and (max-width:430px)
{
    .grid_container {
        grid-template-columns: 160px 160px ;
        .grid_items {
            font-size: 18px;
        }
    }
    .main {
        font-size:  20px
    }
}