* {
    box-sizing: border-box;
}



.container {
    display: flex;
    align-items: center;
    text-align: center;

    .left {
        font-size: 20px;
        height: 100%;
        background-color: #f2f0e0;
        display: flex;

        .HOME, .STATISTIC {
            padding : 10px;
        }
    }
    
    .right {
        justify-content: center;
        flex: 1;
        height: 100px;
        background-color: #c7b299;
        align-items: center;
        display: flex;
       
        .col1 {
            font-size: 20px;
            padding: 5px;
        }
        .name {
            font-weight: bold;
        }
        .col2 img{
            width: 40px;
            padding: 5px;
        }
        img:hover {
            cursor: pointer;
        }
        
    }

}

.onFocus {
    background-color: #f2e57e;
}
a {
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.home  {
    
    &:hover {
        cursor: pointer;
    }
   
    
}

.statistic {
    &:hover {
        cursor: pointer;
    }
   
}
.logo {
    border-radius: 10px;
}

.logout:hover {
    background-color: #f2e57e;
}