
.left {
    font-size: 20px;
    position: absolute;
    padding-left: 30px;
    left: -20px;
    top: 0px;
    z-index: 4;
    display: flex;
    align-items: center;
    background-color: #f2f0e0;
    height: 50px;
    width: 60%;
    border-radius: 20px;
}

.right {
    font-size: 20px;
    position: absolute;
    display: flex;
    right: 0px;
    top: 0px;
    width: 60%;
    z-index: 3;
    padding-right: 30px;
    height: 50px;
    background-color: #c7b299;
    align-items: center;
    justify-content: end;
    img {
        width: 30px;
        margin-left: 20px;
    }
    img:hover {
        cursor: pointer;
    }
    .date {
        margin-right: 10px;
    }
}

.logout:hover {
    background-color: #f2e57e;
}