
table, th, td, tr {
    border: 1px solid;
    border-collapse: collapse;
    
}


.TopAlign {
    vertical-align: top;
  }

  .yearDisplay {
    font-size: 25px;
    font-weight: bold;
}

.row0 {
  display: flex;
  align-items: center;
  button {
    margin-left: 10px;
    font-size: 15px;
    background-color: #f2f0e0;
    border-radius: 10px;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #f2e57e;
    }
  }
}

.tableContainer {
  position: relative;
}
.loader {
  position: absolute;
  background-color: rgba(250, 235, 215, 0.662);
  width: 100%;
  height: 100%;
  z-index: 10;
  border: 1px solid #000;;
}