* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

table, th, td, tr {
  border: 1px solid;
  border-collapse: collapse;
}

.TopAlign {
  vertical-align: top;
}



